awswrangler==3.2.1
black==23.7.0
boto3==1.28.3
botocore==1.31.3
cfgv==3.3.1
click==8.1.5
colorama==0.4.6
commonmark==0.9.1
distlib==0.3.6
filelock==3.12.2
identify==2.5.24
jmespath==1.0.1
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.25.1
packaging==23.1
pandas==2.0.3
pathspec==0.11.1
platformdirs==3.9.1
polars==0.18.7
pre-commit==3.3.3
pyarrow==12.0.1
Pygments==2.15.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
rich==12.6.0
s3transfer==0.6.1
shellingham==1.5.0.post1
six==1.16.0
typer==0.7.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
virtualenv==20.24.0
